/* Classes are reusable, IDs are intended for single use. */
/* Classes and IDs are types of CSS selectors. */

.myclass{
    color: red
}

#one{
    color: blue
}

#two{
    color: green
}

#three{
    color:darkmagenta
}