/* From inside to out the box model is content, padding, border, margin */


#up{
    text-align: center;
    border: 10px solid blue;
    margin-bottom: 100px;
    margin-left: 100px;
}

#down{
    text-align: center;
    border: 10px solid red;
    padding-top: 20px;
}