/* The term CSS specificity refers to which styles override each other. So, span trumps div.*/

body{
    background-color: cornflowerblue;
}

h1{
    color:blue;
}

h2{
    color:rgb(109, 54, 87);
    background-color: cornflowerblue;
}

div{
    background-color: chartreuse;
    border-color: orange;
    border-width: 10px;
    border-style: dashed;
}

span{
    color: red
}